<%= form_with model: @vcenter, local: true do |form| %>
  <% if @vcenter.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@vcenter.errors.count, "error") %> prohibited this vCenter from being saved:</h4>
      <ul>
        <% @vcenter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= form.label :url, class: 'form-label' %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>
  <%= form.submit 'Save vCenter', class: 'btn btn-primary' %>
<% end %>

