<!-- app/views/vcenters/index.html.erb -->
<h1>Vcenters</h1>

<% if @vcenters.empty? %>
  <p>No vCenters found. You can create one by clicking the button below.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>FQDN (Fully Qualified Domain Name)</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @vcenters.each do |vcenter| %>
        <tr>
          <td><%= vcenter.name %></td>
          <td><%= vcenter.fqdn %></td>
          <td><%= vcenter.location %></td>
          <td>
            <%= link_to 'Show', vcenter, class: 'btn btn-info btn-sm' %>
            <%= link_to 'Edit', edit_vcenter_path(vcenter), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', vcenter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <%= button_to 'Fetch VCenters', fetch_vcenters_vcenters_path, method: :post, class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Create New Vcenter', new_vcenter_path, class: "btn btn-primary" %>
