<!DOCTYPE html>
<html>
<head>
  <title>Hallas Host Builder</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="container-fluid">
    <div class="row no-gutters">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
              <%= link_to 'vCenter', vcenters_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Subnets</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Main content -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
